aiogram==2.15.0
faker>=37.1.0
pyrogram>=2.0.106
pysocks>=1.7.1
pytelegrambotapi>=4.27.0
python-telegram-bot>=22.5
requests>=2.32.3
telegram>=0.0.1
telethon>=1.40.0
tgcrypto>=1.2.5
tqdm>=4.67.1
urllib3>=2.4.0
aiogram==2.15.0
faker
pyrogram
pysocks
pytelegrambotapi
python-telegram-bot
requests
telegram
telethon
tgcrypto
tqdm
urllib3
